<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I am a software engineer with experience in multiple industries, and currently a graduate student at University of California, Riverside. I have been exclusively working to develop new products at startups and large organisations. I have enjoyed exploring entire product development cycle, and learnt to follow Agile methodology. There is no clear winner in terms of suitable tech stack in such a culture and I love to be flexible and learn a different approach, when an opportunity arises. To remain effective in the midst of ever-changing languages, the one thing I leave unchanged is following good coding practices applicable to the paradigm and following test driven development, irrespective.

                </p>
                <p>
                    <em>Any fool can write code that a computer can understand. Good programmers write code that humans can understand.</em>
                    <br>
                    <em>‒ Martin Fowler</em>
                </p>

            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Interests</h3>
                <ul>
                    <li>
                        <b>Learning</b>. My current interest is in big data and distributed computing. Besides my academic exposure in Spark and other Apache platforms I am learning other distributed applications like containerization (kubernetes). Re-learning Go for making any contributions has been exciting. I am also learning minor deep learning projects through a few courses.
                    </li>
                    <li>
                        <b>Reading</b>. When I am not programming (or binge watching anime), I am engrossed in an old book. I love to read classical fiction (I am re-reading Anna Karenina). I have also been reading a few biographies lately.
                    </li>
                </ul>
                <h3>Skills</h3>
                <ul>
                    <li> C/C++, Go, JavaScript
                    <li> <em>Others:</em> Java, Python, CUDA
                    </ul>
            </div>
        </div>
    </div>
</section>
