<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Recent Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>
                        <b>TRAFFIC SIGNAL CONTROL USING REINFORCEMENT LEARNING AGENTS:</b> The goal of this project was to
                        automate traffic signal control and reduce congestion. Implemented and compared two different methods of RL: Deep Qlearning and A2C. Utilised: SUMO, TraCI, TensorFlow. Languages: Python, HTML
                    </li>
                    <li>
                        <b>NEO OBD2 PRO:</b> neoOBD2 PRO serves as a prototyping tool for creating automotive IoT applications, which we provided with an open-source SDK (https://github.com/intrepidcs/neoobd2_sdk). Utilized: FreeRTOS, multi-threading, IPC (queues), Markdown (documentation), Git. AWS IoT, AWS lambda, Alexa. Languages: C, C++, JavaScript
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>
                        <b>HOPSCOTCH:</b> HopScotch gives a route with nearby pubs, based on user’s criteria for selection (As a demonstration of Travelling Salesman Problem). Currently limited to 5 nearby pubs. Dataset queried from Yelp on Los Angeles’ pubs. Utilized: Hadoop HDFS, PySpark, kmeans, GQL, Google Maps API, Google OR tools. Languages: Python, HTML
                    </li>
                    <li>
                        <b>PROJECT BIOSCOPE:</b> Bioscope is an end-to end platform for IP-CCTV surveillance system with multiple applications. Developed firmware for a gateway device. Implemented stream collectors with a gateway module using gRPC. Other technologies: gRPC, Protocol Buffers, FFMPEG. Platforms: Linux, Raspberry Pi. Languages: C, C++, Go
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
