---
---

@import "{{ site.theme }}";

.wrapper {
  width:1000px;
  margin:0 auto;
}

header {
  width:270px;
  float:left;
  position:fixed;
  padding: 10px;
}

footer {
  width:270px;
  float:right;
  position:fixed;
  bottom:50px;
  padding: 10px;
}
